@font-face {
    font-family: 'Occult';
    src: url(./fonts/dark-black.regular.otf);
}

/* ====================

    Global Styles

   ==================== */

html {
    background: rgb(35, 37, 39);
    color: white;
    padding: 0;
    margin: 0;
}
button {
    font-family: 'Occult';
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    background: linear-gradient(rgba(9, 54, 100, 0.466), rgba(4, 19, 34, 0.466),rgb(35, 37, 39));
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Occult'
}

/* ====================

    Header Styles

   ==================== */

header {
    font-family: 'Occult';
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #222f3e;
    font-size: small;
    width: 100%;
}

.headerButtons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 10px 0;
    gap: 5px;
}
.headerButtons button {
    padding: 5px;
}

/* ====================

    Book List Sidebar

   ==================== */

.libraryContent {
    position: relative;
    left: 0;
}
.bookListHeader {
    display: flex;
    justify-content: space-evenly;    
    margin: auto;
    align-items: center;
    background:rgb(15, 15, 15);
}
.bookList {
    visibility: hidden;
    position: fixed;
    background: #222f3e;
    border: white solid 1px;
    width: 300px;
    height: 100%;
}
.activeBook {
    background: white;
    color: black;
}
.book {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.bookText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book:hover {
    background: rgba(128, 128, 128, 0.603);
}

.book #removeBook {
    position: absolute;
    right: 0;
}

/* ====================

    Reading Area/Window Content

   ==================== */

.windowContent {
    position: relative;
}

.readingArea {
    padding: 20px;
    z-index: 0;
}

.bookTags {
    font-size: small;
    display: flex;
    flex-direction: column;
    color: rgb(175, 175, 175);
}

.readStatusButton {
    font-size: smaller;
    width: 75px;
}

.activeAuthor {
    font-size: 14px;
    color: gray;
}

/* ====================

    New Book Form

   ==================== */

.newBookForm {
    visibility: hidden;
    position: sticky;
    width: 300px;
    margin: auto;
    border: white solid 1px;
    background: #222f3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.newBookForm input {
    width: 250px;
}
.newBookForm button {
    padding: 5px;
    margin: 10px 0;
}
.newBookForm textarea {
    width: 250px;
    height: 250px;
}
.newBookForm .singleRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
.newBookForm .singleRow div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.newBookForm .singleRow input {
    width: 50%;
}
.closeButton {
    position: absolute;
    top: 0;
    right: 0;
}
#missingInfo {
    background: rgba(161, 17, 17, 0.616);
    color: white;
    visibility: hidden;
}

/* ====================

    Styling for Desktop/Tablet

   ==================== */

/* Styling for screens larger than 600px wide */
@media (min-width: 600px) {
    .newBookForm input, .newBookForm textarea {
        width: 500px;
    }
    .readingArea {
        margin: auto;
        width: 50%;
    }
    .newBookForm {
        width: 600px;
        margin: auto;
    }
    .headerButtons {
        position: absolute;
        left: 0;
        bottom: 10px;
        justify-content: start;
    }
}